.contact {
  padding-top: 100px;
  margin-bottom: 55px;
  background-color: #E7EBFC;

  // .contact__container

  &__container {}

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    @media(min-width:768px) {
      flex-direction: row;
      height: 550px;
    }
  }

  // .contact__content

  &__content {
    max-width: 480px;
  }

  // .contact__title

  &__title {
    margin-bottom: 30px;
    font-size: calc(20px + (64 - 20) * ((100vw - 320px) / (1440 - 320)));

    @media(min-width:1440px) {
      font-size: 64px;
    }
  }

  // .contact__text

  &__text {
    margin-bottom: calc(10px + (100 - 10) * ((100vw - 320px) / (1440 - 320)));
    color: #64626A;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320)));

    @media(min-width:1400px) {
      font-size: 20px;
    }
  }

  // .contact__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  // .contact__item

  &__item {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: calc(5px + (20 - 5) * ((100vw - 320px) / (1440 - 320)));
    border: 1px solid #2E4FD7;
    transition: background 0.3s ease 0s, color 0.3s ease 0s;
  }

  @media (pointer:fine) and (hover: hover) {
    &__item:hover {
      background-color: #2E4FD7;
    }

    &__item:hover &__call {
      color: #fff;
    }

    &__item:hover &__link {
      color: #fff;
    }
  }

  // .contact__call

  &__call {
    color: #2E4FD7;
    font-size: 14px;
    font-weight: 600;
  }

  // .contact__link

  &__link {
    color: #2E4FD7;
    font-size: 16px;
  }

  // .contact__form-box

  &__form-box {
    padding: 90px 30px 25px 30px;
    min-height: 662px;
    background-color: #fff;
    border: 1px solid #B4B4B4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @media(min-width:768px) {
      transform: translateY(2px);
    }
  }

  // .contact__small-title

  &__small-title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
  }

  &__form-text {
    max-width: 410px;
    margin-bottom: 40px;
    color: #64626A;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320)));

    @media(min-width:1400px) {
      font-size: 20px;
    }
  }

  // .contact__form

  &__form {
    display: flex;
    flex-direction: column;
  }

  // .contact__icon-box

  &__icon-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    margin-bottom: 220px;
  }

  // .contact__icon

  &__icon {
    width: 100px;
    height: 70px;
  }

  &__icon_intel {
    width: 54.782px;
    height: 36.167px;
  }
}

.form {

  // .form__label-box

  &__label-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 25px;

    @media(min-width:768px) {
      flex-direction: row;
    }
  }

  // .form__label

  &__label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
  }

  // .form__input

  &__input {
    padding: 20px 0 20px 20px;
    border: 1px solid var(--base-boarder, #B4B4B4);
    font-size: 14px;
  }


  // .form__textarea

  &__textarea {
    max-width: 427px;
    min-height: 122px;
    margin-bottom: 30px;
  }

  // .form__btn

  &__btn {
    padding: 20px 0;
    color: #FFF;
    background-color: #2E4FD7;
    font-weight: 600;
    font-size: 16px;
  }
}