.contact {
  padding-top: 50px;
  margin-bottom: 55px;
  background-color: #E7EBFC;

  @media(min-width:992px) {
    padding-top: 100px;
  }

  // .contact__container

  &__container {}

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    @media(min-width:768px) {
      flex-direction: row;
    }

    @media(min-width:992px) {
      height: 550px;
    }
  }

  // .contact__content

  &__content {
    max-width: 480px;
  }

  // .contact__title

  &__title {
    margin-bottom: 30px;
    font-size: calc(20px + (64 - 20) * ((100vw - 320px) / (1440 - 320)));

    @media(min-width:1440px) {
      font-size: 64px;
    }
  }

  // .contact__text

  &__text {
    margin-bottom: calc(10px + (100 - 10) * ((100vw - 320px) / (1440 - 320)));
    color: #64626A;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320)));

    @media(min-width:1400px) {
      font-size: 20px;
    }
  }

  // .contact__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  // .contact__item

  &__item {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: calc(5px + (20 - 5) * ((100vw - 320px) / (1440 - 320)));
    border: 1px solid #2E4FD7;
    transition: background 0.3s ease 0s, color 0.3s ease 0s;
  }

  @media (pointer:fine) and (hover: hover) {
    &__item:hover {
      background-color: #2E4FD7;
    }

    &__item:hover &__call {
      color: #fff;
    }

    &__item:hover &__link {
      color: #fff;
    }
  }

  // .contact__call

  &__call {
    color: #2E4FD7;
    font-size: 14px;
    font-weight: 600;
  }

  // .contact__link

  &__link {
    color: #2E4FD7;
    font-size: 16px;
  }

  // .contact__form-box

  &__form-box {
    padding: 15px;
    min-height: 690px;
    background-color: #fff;
    border: 1px solid #B4B4B4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @media(min-width:992px) {
      padding: 90px 30px 25px 30px;
    }

    @media(min-width:768px) {
      transform: translateY(2px);
    }
  }

  // .contact__small-title

  &__small-title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
  }

  &__form-text {
    max-width: 410px;
    margin-bottom: 40px;
    color: #64626A;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320)));

    @media(min-width:1400px) {
      font-size: 20px;
    }
  }

  // .contact__form

  &__form {
    display: flex;
    flex-direction: column;
  }

  // .contact__icon-box

  &__icon-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    margin-bottom: 50px;

    @media(min-width:992px) {
      margin-bottom: 220px;
    }
  }

  // .contact__icon

  &__icon {
    width: 100px;
    height: 70px;
  }

  &__icon_intel {
    width: 54.782px;
    height: 36.167px;
  }
}

.form {

  // .form__label-box

  &__label-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 25px;

    @media(min-width:768px) {
      flex-direction: row;
    }
  }

  // .form__label

  &__label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
  }

  // .form__input

  &__input {
    padding: 20px 0 20px 20px;
    border: 1px solid #B4B4B4;
    font-size: 14px;
  }


  // .form__textarea

  &__textarea {
    max-width: 427px;
    min-height: 122px;
    margin-bottom: 30px;
    padding-left: 18px;
    padding-top: 18px;
  }

  // .form__btn

  &__btn {
    padding: 20px 0;
    color: #FFF;
    background-color: #2E4FD7;
    font-weight: 600;
    font-size: 16px;
  }
}

.select {
  max-width: 250px;
  margin-bottom: 25px;
  position: relative;
}

.select-open .select-btn:after {
  transform: rotate(180deg);
}

.select-btn {
  position: relative;
  display: block;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: 1px solid #ccc;
  color: #B3B1B7;
  border-radius: 5px;
  text-align: left;
}

.select-btn-active {
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
}

.select-btn:after {
  content: "❯";
  position: absolute;
  right: 15px;
  transform: rotate(90deg);
  transition: transform .3s ease 0s;
  color: #424551;
}

.select-btn-active:after {
  transform: rotate(270deg);
}

.select-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.select-list-show {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.select-option {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  text-align: left;
}

.select-option-selected {
  background-color: #ccc;
}

.select-option:hover {
  background-color: #ccc;
}