<section class="story">
    <div class="story__container container">
        <div class="story__content">
            <div class="swiper story__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="story__box">
                            <h2 class="story__title text_dark title">
                                Success Story
                            </h2>
                            <p class="story__text text_dark text">
                                Nowadays, it isn’t uncommon to see lenders rapidly adopting a digital lending strategy
                                to streamline the lending process
                            </p>
                            <svg class="story__icon">
                                <use xlink:href="img/svg/sprite.svg#Logitech" />
                            </svg>
                            <button class="story__btn button-reset">
                                Read Complete Case Study
                                <svg class="story__arrow">
                                    <use xlink:href="img/svg/sprite.svg#arrow" />
                                </svg>
                            </button>
                        </div>
                        <img class="story__img img" src="img/David-Gillroy.png" alt="woman">
                    </div>
                    <div class="swiper-slide">
                        <div class="story__box">
                            <h2 class="story__title text_dark title">
                                Success Story
                            </h2>
                            <p class="story__text text_dark text">
                                Nowadays, it isn’t uncommon to see lenders rapidly adopting a digital lending strategy
                                to streamline the lending process
                            </p>
                            <svg class="story__icon">
                                <use xlink:href="img/svg/sprite.svg#Logitech" />
                            </svg>
                            <button class="story__btn button-reset">
                                Read Complete Case Study
                                <svg class="story__arrow">
                                    <use xlink:href="img/svg/sprite.svg#arrow" />
                                </svg>
                            </button>
                        </div>
                        <img class="story__img img" src="img/David-Gillroy.png" alt="woman">
                    </div>
                    <div class="swiper-slide">
                        <div class="story__box">
                            <h2 class="story__title text_dark title">
                                Success Story
                            </h2>
                            <p class="story__text text_dark text">
                                Nowadays, it isn’t uncommon to see lenders rapidly adopting a digital lending strategy
                                to streamline the lending process
                            </p>
                            <svg class="story__icon">
                                <use xlink:href="img/svg/sprite.svg#Logitech" />
                            </svg>
                            <button class="story__btn button-reset">
                                Read Complete Case Study
                                <svg class="story__arrow">
                                    <use xlink:href="img/svg/sprite.svg#arrow" />
                                </svg>
                            </button>
                            <img class="story__img img" src="img/David-Gillroy.png" alt="woman">
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>