<header class="header">
  <div class="header__container container">
    <a class="header__logo logo link" href="index.html">
      <svg class="logo__icon">
        <use xlink:href="img/svg/sprite.svg#logo" />
      </svg>
      Tweakful
    </a>
    <nav class="header__nav nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a class="nav__link link_dark link" href="home.html">
            Home
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link link_dark link" href="services.html">
            Features
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link link_dark link" href="servicesAll.html">
            Pricing
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link link_dark link" href="#">
            About Us
          </a>
        </li>
        <li class="nav__item">
          <a class="nav__link link_dark link" href="#">
            Help
          </a>
        </li>
        <li class="nav__item">
          <div class="nav__link-box">
            <a class="nav__link link_light link" href="#">
              Book A Meeting
              <svg class="nav__arrow">
                <use xlink:href="img/svg/sprite.svg#arrow" />
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </nav>
    <button class="header__burger burger">
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>