<footer class="footer">
  <div class="footer__container container">
    <div class="footer__wrapper">
      <div class="footer__content">
        <h2 class="footer__title title_light title">
          Tweakful
        </h2>
        <span class="footer__subtitle">
          About Tweakful
        </span>
        <p class="footer__text text_light text">
          Tweakful is HubSpot Theme Based On Engagement Design Framework, designed & developed by Openthrive.
        </p>
        <button class="footer__btn button-reset">
          Button Text
          <svg class="footer__arrow">
            <use xlink:href="img/svg/sprite.svg#arrow" />
          </svg>
        </button>
      </div>
      <div class="footer__list-box">
        <ul class="footer__list list-reset">
          <li class="footer__item">
            <a class="footer__link link_light link" href="contact.html">
              Contact
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link link_light link" href="#">
              Career
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link link_light link" href="#">
              Privacy Plocy
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link link_light link" href="#">
              Terms Of Services
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link link_light link" href="#">
              GDPR
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link link_light link" href="#">
              FAQs
            </a>
          </li>
        </ul>
        <ul class="footer__list list-reset">
          <li class="footer__item">
            <a class="footer__link link_light link" href="#">
              Blog
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link link_light link" href="#">
              Capabilities
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link link_light link" href="#">
              Resources
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link link_light link" href="#">
              Partnership Integration
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom-box">
      <p class="footer__bottom-text text_light text">
        B2B website and engagement design solution that transform
        marketing and sales performance like never before.
      </p>
      <span class="footer__date">
        © 2015-2020 Openthrive. All right reserved.
      </span>
    </div>
  </div>
</footer>