<section class="action">
    <div class="action__container container">
        <div class="action__content">
            <h2 class="action__title title_dark title">
                The Is Closing Headline To Make A Impact For Call To Action
            </h2>
            <p class="action__text text_dark text">
                Nowadays, it isn’t uncommon to see lenders rapidly adopting a digital lending strategy to streamline the
                lending process nowadays, it isn’t uncommon to see lenders rapidly
            </p>
            <a class="action__link link_light link" href="#">
                Book A Meeting
                <svg class="action__arrow">
                    <use xlink:href="img/svg/sprite.svg#arrow" />
                </svg>
            </a>
        </div>
        <div class="action__icon-box">
            <svg class="action__icon">
                <use xlink:href="img/svg/sprite.svg#philips" />
            </svg>
            <svg class="action__icon">
                <use xlink:href="img/svg/sprite.svg#Logitech" />
            </svg>
            <svg class="action__icon action__icon_center">
                <use xlink:href="img/svg/sprite.svg#Amazon" />
            </svg>
            <svg class="action__icon">
                <use xlink:href="img/svg/sprite.svg#Facebook" />
            </svg>
            <svg class="action__icon">
                <use xlink:href="img/svg/sprite.svg#Google" />
            </svg>
            <svg class="action__icon">
                <use xlink:href="img/svg/sprite.svg#Linked-In" />
            </svg>
        </div>
    </div>
</section>